<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.sagu.mapper.MemberMapper">

   <insert id="insertRegion" parameterType="boot.sagu.dto.RegionDto">
      INSERT INTO region VALUES (null,#{province},#{city},#{district},#{latitude},#{longitude})
   </insert>

   
   
</mapper>